/*
Theme Name: CARIBBEAN ICONS
Author: Ricardo Augustine
Author URI: http://www.kliqsd.com/
Version: 1.0
*/


/* Header and Navigation Styles */
.nav-abs {
    position: absolute !important;
    z-index:999999;
}

/* General Styles */

.slides li .caption{
    padding-top: 64px;
}

[type="checkbox"].filled-in:checked+span:not(.lever):after {
    background-color: #0D47A1 ;
    border-color: #0D47A1 ;
}

[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:after{
    background-color: #0D47A1;
}

[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:before, [type="radio"].with-gap:checked+span:after{
    border-color: #0D47A1;
}


/* Front Page Container Styles */
.home article.page {
    padding-bottom: 5%;
    padding-top: 5%;
}

/* Profiles Page Styles */

.page-profiles > h4{
    margin-bottom: 30px;
    font-weight: bold;
}

.page-profiles > h4:after{
    content: "";
    display: block;
    width: 155px;
    border-bottom: 2px solid #434343;
    margin-top: 2px;
}
#profile-list {
    border: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    /* justify-content: space-evenly; */
    /* align-content: center; */
}

#profile-list .collection-item {
    border: 0;
    width: 30%;
}


.pagination {
    margin-top: 30px;
}

#sort-by-list li{
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 15px;
    padding-right: 5px;
    outline: 1px solid grey;
    margin-bottom: 8px;
   }
   
   #sort-by-list li i{
       margin-right: 8px;
       margin-top: 3px;
   }

   .show_filter_wrapper{
       margin-top: 20px;
   }
   
   .filter-section{
       outline: 1px solid grey;
       padding: 15px;
       margin-bottom: 20px;
   }
   
   .filter-section *{
       margin-right: 5px;
   }

   #filter-card,
   #filter-card + .card-panel{
       margin-bottom: 50px;
   }
   
   #filter-card div.row {
       margin-bottom: 30px;
   }
   
   .filter-btn-wrapper{
       padding-top: 20px;
   }


/* Publication Page Styles */

.page-publication{
    padding-bottom: 30px;
}

.page-publication > h4{
    margin-bottom: 50px;
    font-weight: bold;
}

.page-publication > h4:after{
    content: "";
    display: block;
    width: 245px;
    border-bottom: 2px solid #434343;
    margin-top: 2px;
}

.page .publication-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
}

.publication-item{
    width: 20%;
    margin-right: 5px;
    margin-bottom: 5px;
}

.publication-item img{
    max-width: 100%;
    height: auto;
    vertical-align: center;
}


/* Footer Styles */

.oceanwp-social-icons {
    display: flex;
    flex-direction: row;
}

.oceanwp-social-icons li{
    margin-right: 8%;
}

.oceanwp-social-icons li a{
    color: white;
}

.oceanwp-newsletter-form-wrap > form > input[type="email"] {
    margin-top: 5px;
    color: white;
}

/* Single Icons Styles */

.single-icons .title{
    margin-top: 0;
    margin-bottom: 10px;;
}

.single-icons .life_span{
    font-size: 60%;
}

.single-icons .sub-title {
    /* font-size: 85%; */
    margin-top: 0;
    border-bottom: 1.5px solid #d3d3d3;
    padding-bottom: 8px;
    margin-bottom: 28px;
}

.single-icons .other-info {
    border: 2px solid #d3d3d3;
    padding: 15px;
    margin-top: 50px;
}

.single-icons .content {
    font-size: 115%;
    line-height: 1.65em;
    word-break: break-word;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.single-icons article{
    padding-top: 30px;
}


/* Gallery Styles */

.gallery-wrapper h6{
    font-size: 200%;
    margin-top: 60px;
    margin-bottom: 0;
    padding-top: 15px;
    background-color: #484848;
}

.gallery{
    background-color: #484848;
    padding: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery .gallery-item img{
    border: 0 !important;
    max-width: 100%;
    height: auto;
}

.gallery .gallery-item{
    float: none !important;
    margin-top: 0 !important;
    width: auto !important;
    margin-right: 20px;
    flex: 1.3344;
}


/* Media Queries */

/* Mobile */
@media screen and (max-width:600px) {

    .publication-item{
        width: 40%;
    }

    .single-icons .title {
        margin-top: 35px;
        line-height: 0.84em;
    }

    .gallery .gallery-item{
        /* flex: 2.3344; */
        width: 50%;
    }
}

/* Tablet */
@media screen and (min-width:600px) and (max-width: 992px) {
    .publication-item{
        width: 30%;
    }
}